.statistics{
    width: 250px;
    margin: 0 auto;
    margin-top: 30px;
}

.title{
    text-align: center;
    border: black solid 1px;
    height: 50px;
}
.statList{
    display: flex;
    justify-content: center;
    text-align: center;
}

.item{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color:bisque;
    border: black solid 1px;
}