.friendList {
    width: 300px;
    border: black solid 1px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.item{
    border-bottom: black solid 1px;
    display: flex;
    padding: 10px;
    text-align: center;
}

.item:last-child {
    border-bottom:none;

}

.status{
    height: 10px;
    width: 10px;
    border-radius: 90%;
    background-color: red;

}

.isActive{
    composes: status;
    background-color: green;
  }

.avatar{
    display: block;
    margin-left: 50px;
   
}

.name{
    text-align: center;
    padding-left: 30%;

}