.header {
    position: fixed;
    right: 0;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: rgba(25,28,37,0.6);
    z-index: 1;
  }
  
  .header__logo{
    display: block;
    position: absolute;
    background-image: url(./imagesHeader/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 45px; 
    height: 50px;
    left: 3%;
    top: 8%;
  }
  
  .header__logo::after{
    position: relative;
    content: 'ZAS';
    background: linear-gradient(135deg, #12BCB0 20%, #FABE0E 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    line-height: 0.95;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    right: -120%;
    top: 10%;
  }
  
  .header__shoppingCart{
    display: block;
    position: absolute;
    width: 30px;
    height: 27px;
    background-image: url(./imagesHeader/shoppingCart.svg);
    color: white;
    right: 20%;
    top: 27%;
  
  }
  
  /* .header__btn_hamburger{
    display: block;
    position: absolute;
    right: 5%;
    top: 15%;
    background: url(./images/header/reorder.svg);
    fill: white; 
    background-repeat: no-repeat;
    width: 35px;
    height: 32px;
  } */
  
  .header__btn_hamburger{
    display: block;
    position: absolute;
    right: 5%;
    top: 15%;
    background: url(./imagesHeader/reorder.svg);
    fill: white; 
    background-repeat: no-repeat;
    width: 35px;
    height: 32px;
    border: none;
    cursor: pointer;
    outline:none;
  }