.profile {
    background-color: #FFFFFF;
    width: 200px;
    height: 270px;
    margin: 0 auto;
    border: 3px solid black;
    margin-top: 2rem;

}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.avatar{
    width: 50px;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.name{
    text-align: center;
    margin-bottom: 0.2rem;
}

.tag{
    text-align: center;
    margin-bottom: 0.2rem;
    color: #768696;
}

.location{
    text-align: center;
    margin-bottom: 2.7rem;
    color: #768696;
}

.stats{
    display: flex;
    justify-content: space-between;
}

.stats>li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: aquamarine;
    width: 33%;
    height: 70px;
    background-color: #F3F6F9;
    border: 1px solid rgba(156, 181, 219, 0.767);
}

.label{
    color: #768696;
}

.quantity{

}
